<div class="modal fade show" id="sign-up-modal" tabindex="-1" role="dialog" style="display: block; padding-right: 10px; display: none;" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon bg-dark" data-src="assets/img/icons/interface/cross.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
            <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
          </svg>
        </button>
        <div class="m-xl-4 m-3">
          <div class="text-center mb-4">
            <%= image_tag("favicon.png", alt: "Dreamzzz Logo", class: 'sign-logo') %>
            <h4 class="h3 mb-1">Inscription</h4>
          </div>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: 'Prénom', class: 'form-control mb-3' %>
          </div>

          <div class="field">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: 'Nom', class: 'form-control mb-3' %>
          </div>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control mb-3' %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe (6 caractères minimum)', class: 'form-control mb-3' %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmer le mot de passe', class: 'form-control mb-3' %>
          </div>

          <div class="actions">
            <%= f.submit "Je m'inscris", class: 'btn btn-primary form-control mb-3' %>
          </div>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>