<section id="section-show-lucid">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card card-article-wide flex-md-row no-gutters shadow" style="height: 500px">
					<div class="col-md-5 col-lg-6">
						<%= image_tag("cloud.gif", alt: "Cloud GIF", class: 'card-img-top') %>
					</div>
					<div class="card-body d-flex flex-column justify-content-between col-auto p-4 p-lg-5">
						<div>
							<div>

								<!-- Bouton retour au journal -->
								<%= link_to(dreams_path, class: 'hover') do %>
									<i class="fas fa-chevron-circle-left mr-1 mb-3" style="color: #8b52ff;"></i>Retour
								<% end %>

								<h4 class=""><%= image_tag("favicon.png", alt: "Dreamzzz Logo", class: 'icon icon-md mb-2') %> <%= @lucid.title %><%= social_share_button_tag(@lucid.title) %></h4>
								<p class="text-muted text-sm mt-2"><%= @lucid.date.strftime("%d/%m/%y") %></p>
							</div>
							<p class="description"><%= @lucid.description %></p>
							<p> <span style="color: #8b52ff;">Émotion(s) ressentie(s) : </span><%= @lucid.emotion %></p>
						</div>
						<div>

							<%= link_to(edit_lucid_path(@lucid.id), class: 'mr-1 injected-svg icon edit-btn', style: 'text-decoration: none;') do %>
							<i class="fas fa-pencil-alt edit text-white" id="edit"></i>
							<span>Éditer</span>
							<% end %> 

							<%= link_to(lucid_path(@lucid.id), method: :delete, data: { confirm: 'Vous allez supprimer votre rêve, voulez-vous continuer ?'}, class: 'delete-btn injected-svg icon') do %>
							<i class="far fa-trash-alt"></i>
							<span>Supprimer</span>
							<% end %> 

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>