<!--Progress bar -->
<div class="article-progress position-fixed" data-sticky="below-nav" style="max-width: 863.333px; min-height: 1px; top: 68.4688px; color: #8b52ff; font-family: 'Comfortaa', cursive;">
  <progress class="reading-position reading-position-hidden" value="0" max="100"></progress>
  <div class="article-progress-wrapper">
    <div class="container">
      <div class="row">
        <div class="col py-2">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <div class="text-small text-muted mr-1">Lecture...</div>
              <div class="text-small"><%= @post.title %></div>
            </div>
            <div class="d-flex align-items-center">
              <span class="text-small text-muted">Partager:</span>
              <div class="d-flex ml-1">
                <a href="https://twitter.com/share" target="_blank" class="mx-1 btn btn-sm btn-round text-light" style="background-color: #8b52ff;">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" class="injected-svg icon" data-src="assets/img/icons/social/twitter.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Twitter icon</title><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"></path></svg>
                </a>
                <a href="http://www.linkedin.com/shareArticle" target="_blank" class="mx-1 btn btn-sm btn-round text-light" style="background-color: #8b52ff;">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" class="injected-svg icon" data-src="assets/img/icons/social/linkedin.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>LinkedIn icon</title><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"></path></svg>
                </a>
                <a href="http://www.facebook.com/sharer.php?u=URL" target="_blank" class="mx-1 btn btn-sm btn-round text-light" style="background-color: #8b52ff;">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" class="injected-svg icon" data-src="assets/img/icons/social/facebook.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Parallax -->
<section class="text-light overlay min-vh-100 d-flex flex-column justify-content-end" data-jarallax="" data-speed="0.5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <span class="badge bg-primary-alt text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon bg-primary" data-src="assets/img/icons/interface/heart.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
            </svg><%= @post.likes.count %></span>
          </div>
          <h1><%= @post.title %></h1>
          <div class="d-flex align-items-center">
            <div>
              <div>par <%= @post.user.first_name %> <%= @post.user.last_name %>
              </div>
              <div class="text-small text-muted"><%= @post.created_at.strftime("%d/%m/%y") %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><img src="<%= @post.image_url %>" alt="Image" class="jarallax-img opacity-60" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 863.333px; height: 632.833px; overflow: hidden; pointer-events: none; margin-top: 0.0833282px; transform: translate3d(0px, -6.41666px, 0px);">
    </div>
  </section>

  <!-- Article --> 
  <section class="p-0" data-reading-position="" style="background-color: #EBEEFF;">
    <div class="container text-justify">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
          <article class="article">

            <p class="lead">
             <%= @post.introduction %>
           </p>

           <p>
            <%= @post.first_paragraph %>
          </p>

          <p>
            <%= @post.second_paragraph %>
          </p>

          <h4>
            <%= @post.first_subtitle %>
          </h4>

          <p>
            <%= @post.third_paragraph %>
          </p>

          <figure>
            <img src="<%= @post.image_url %>" alt="Image" class="rounded shadow">
            <figcaption>A caption to describe the image</figcaption>
          </figure>

          <p>
            <%= @post.fourth_paragraph %>
          </p>

          <blockquote class="bg-primary-alt">
            <div class="h3 mb-2">“<%= @post.fourth_paragraph.truncate(30) %>”</div>
            <span class="text-small text-muted">– Harvey Dent (via Tareq I.)</span>
          </blockquote>

          <p>
            <%= @post.fifth_paragraph %>
          </p>

          <h5>
            <%= @post.second_subtitle %>
          </h5>

          <p>
            <%= @post.sixth_paragraph %>
          </p>


          <ul>
            <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</li>
            <li>Corporis suscipit laboriosam</li>
            <li>Aspernatur aut odit aut fugit eos qui ratione</li>
            <li>Et quasi</li>
          </ul>

          <p class="text-muted text-right mt-3 mb-3">
            <%= @post.user.first_name %> <%= @post.user.last_name %>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="has-divider" style="background-color: #EBEEFF">
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <% if Like.where(user: current_user, post: @post).count > 1 %>
          <h5 class="my-4"><%= @post.likes.count %> J'aimes</h5>
        <% else %>
          <h5 class="my-4"><%= @post.likes.count %> J'aime</h5>
        <% end %>
        <hr>
        <div class="d-flex align-items-center">

          <% if user_signed_in? %>
            <span class="text-small mr-5">
              
                <% if  Like.where(user: current_user, post: @post).count != 0 %>
                  <%= link_to "💔 Je n'aime plus", post_like_path(controller: :like,
                  action: :destroy,
                  post_id: @post.id,
                  id: Like.where(user: current_user, post: @post)[0].id),
                  method: "DELETE", style: 'color: #8B52FF; text-decoration: none;' %>
                <% else %>

                  <%= link_to "❤️ J'aime", post_likes_path(controller: :likes, action: :create, post_id: @post.id), method: "post", style: 'color: #8B52FF; text-decoration: none;' %>

                <% end %>
            </span>
          <% end %>

          <span class="text-small">Partager cet article :</span>
          <div class="d-flex mx-2">
            <a href="https://twitter.com/share" target="_blank" class="btn btn-round mx-1 text-light" style="background-color: #8b52ff;">
              <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" class="injected-svg icon icon-sm" data-src="assets/img/icons/social/twitter.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Twitter icon</title><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"></path></svg>
            </a>
            <a href="http://www.facebook.com/sharer.php?u=URL" target="_blank" class="btn btn-round mx-1 text-light" style="background-color: #8b52ff;">
              <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" class="injected-svg icon icon-sm" data-src="assets/img/icons/social/facebook.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path></svg>
            </a>
            <a href="http://www.linkedin.com/shareArticle" target="_blank" class="btn btn-round mx-1 text-light" style="background-color: #8b52ff;">
              <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" class="injected-svg icon icon-sm" data-src="assets/img/icons/social/linkedin.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>LinkedIn icon</title><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"></path></svg>
            </a>
          </div>
        </div>
        <hr>
        <!-- ----------- COMMENTAIRES ----------- -->
        <% if @post.comments.count > 1 %>
          <h5 class="my-4"><%= @post.comments.count %> Commentaires</h5>
        <%else %>
          <h5 class="my-4"><%= @post.comments.count %> Commentaire</h5>
        <% end %>
        
        <!-- On récupère les commentaires et on les affiche -->
        <div class="list-group mx-auto">

          <% @post.comments.reverse.each do |comment| %>

          <div class="shadow fn-comment mt-3 p-2 bg-light">
            <div class="pl-2">
              <div>
                <i class="fas fa-user-circle"></i>
                <b><%= "#{comment.user.first_name} #{comment.user.last_name}" %></b>
              </div>
              <hr style="background-color: #8b52ff;">
              <span style="font-size: 12px;"><%= comment.content %></span>

              <!-- On affiche les boutons d'édition et de suppression seulement 
                pour le créateur du commentaire -->
                <% if user_signed_in? %>
                <% if comment.user == current_user %>
                <div class="comment-icons">
                  <%= link_to(edit_post_comment_path(@post.id, comment.id),class: 'edit') do %>
                  <i class="fas fa-pen"></i>
                  <% end %>

                  <%= link_to(post_comment_path(@post.id, comment.id), data: {confirm: "Vous allez supprimer votre super commentaire... Voulez-vous vraiment continuer ?"}, method: "delete") do %>
                  <i class="far fa-trash-alt ml-2 text-danger"></i>
                  <% end %>
                </div>
                <% end %>
                <% end %>
              </div>
            </div>

            <% end %>
            
            <% if user_signed_in? %>
            <!-- Zone du formulaire de commentaire -->
            <%= form_tag post_comments_path(controller: :comments, action: :create, post_id: @post.id), method: "post" do %>

            <h4 class="mt-5"><%= label_tag 'Poster un commentaire' %></h4>
            <%= text_area_tag 'content', @comment.content, class: "form-control shadow", style: 'border-radius: 10px; height: 100px;', placeholder: 'Votre commentaire..' %>
            <br/>

            <%= submit_tag "Poster", class: "edit-btn" %> 
            <% end %>      
            <% end %>      
          </div>
        </div>
      </div>
    </div>
  </section>


