<section id="section-nightmares">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 offset-md-3">
                <div class="create-form shadow">
                    <!-- Errors partial -->
                    <%= render 'nightmares/error_messages' %>
                    <h2 class="text-center"><%= image_tag("favicon.png", alt: "Dreamzzz Logo", class: 'form-logo') %>Je cauchemarde...</h2>
                    <hr>

                    <!-- Zone du formulaire -->
                    <%= form_tag url_for(action: 'create'), method: "post", class: "user" do %>
                    <div class="form-group">

                        <%= text_field_tag 'title', @nightmare.title, placeholder: "Titre de mon cauchemar..", class: "form-control form-control-user mb-3" %>

                        <span>Date de mon cauchemar :</span>
                        <%= date_field_tag 'date', @nightmare.date, class: "form-control" %>

                        <%= text_area_tag 'description', @nightmare.description, placeholder: "Description de mon cauchemar.. 😱", class: "form-control form-control-user mt-3" %>

                        <%= text_field_tag 'emotion', @nightmare.emotion, placeholder: "Émotion(s) ressentie(s) lors du cauchemar..", class: "form-control form-control-user mt-3 mb-3" %>

                        <%= submit_tag "Ajouter", class: "create-btn mt-3" %>

                        <% end %>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>